.vs
.vscode/launch.json
.vsconfig
obj
.objs
*.csproj
*.swp
.DS_Store
.idea
*.sln
.cache.meta

/node_modules

/Library
/Logs
/UserSettings
/Recordings
/Temp
/MemoryCaptures
/UserSettings/EditorUserSettings.asset
/Packages/packages-lock.json
package-lock.json

/Build/wechatgame

/Assets/StreamingAssets/
/Assets/ZFBrowser/

/Assets/Biz/js~/game/
/Assets/Biz/js~/gameDebug/
/Assets/Biz/js~/gameRelease/
/Assets/Biz/js~/.vscode/
/Assets/Biz/Script~/.vscode/launch.json
/Assets/Biz/Script~/src/Common/Cfg/_auto/

/runtime/

_TerrainAutoUpgrade

Personal/
Personal.meta

/Assets/Biz/cfg
/ServerData
/Assets/AddressableAssetsData/link.*
/Assets/AddressableAssetsData/WebGL
/Publish
/TextToolDatas
